:root {
    --font-page :'Montserrat', sans-serif;
}

.banner {
  background-image: linear-gradient(0deg, 
  rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height : 223px;
  border-radius: 2rem;
  display : grid;
  align-items : center;
  justify-content : center;
  color: #F6F6F6;
  font-weight: 200;
  font-size: 31px;
  font-family: var(--font-page);
}

/*
**************RESPONSIVE-****************************/

@media (max-width: 980px) {
    
    .banner {
      padding : 2rem;
 
}
   h2 {
     font-size : 28px;
  }
   }


@media (max-width: 792px) {
    
    .banner {
      padding : 0 2rem;
      border-radius : 10px;
      height : 111px;
 
}
   h2 {
     font-size : 27px;
  }
   }




  
  