
.Card {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    column-gap: 12px;
    row-gap: 40px;
    border-radius: 2rem;
    padding-left : 15rem;
    margin-top : 2rem;
}

@media (max-width: 750px) {

    .Card {
        margin : 2rem 0rem;
        width : 100%
    }
}