.Card {
    margin : 3rem 0rem;
    height: 30rem;
    background-color: bisque;
    border-radius: 2rem;
    width: 100%;
}

@media (max-width: 750px) {

    .Card {
        margin : 2rem 0rem;
        width : 100%
    }
}