.carousel-content {
   background-image:linear-gradient(0deg, 
  rgba(0, 0, 0, 0.185), rgba(255, 255, 255, 0.123)),url("../images/carousel.jpg");
   background-position: center;
   background-size: cover;
   border-radius: 25px;
   height: 415px;
   margin-left : 100px;
   margin-right :100px;
   margin-bottom : 2rem;
   position : relative;
}

.carousel-content .slide {
   position: absolute;
   top: 50%;
   transform:translateY(-55%);
   height: 85px;
   margin-right: 0.8rem;
   margin-left: 1.3rem;
   width: 55px;
}

.carousel-content .right {
   right:0;
}

.slide img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.8s ease-in-out;
}

.carousel-content__pages {
   display: inline-block;
   position : absolute;
   left : 48.3%;
   bottom : 2%;
   color: #FFFF;
   text-align: center;
  font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 500;
}

 
/************************  RESPONSIVE ******************************/

@media (max-width: 792px) 

{
   .carousel-content {
      height: 255px;
      border-radius: 10px ;
      margin-left: 14px;
      margin-right:14px;
      margin-top: 27px;
      margin-bottom : 1rem;
}

.carousel-content .slide {
 margin-left: 0.5rem;
 margin-right: 0.5rem;
 transform:translateY(-45%);
}

.left img {
 height: 20px;
 display: flex;
   justify-content: flex-start;
   align-items: center;
  
}

.right img {
   height: 20px;
   display: flex;
     justify-content: flex-start;
     align-items: center;
    
  }

.left {
   display : flex;
   justify-content: flex-start;
   align-items: center;
}

.right {
   display : flex;
   justify-content: flex-end;
   align-items: center;
}

.carousel-content__pages {
   display: none;
}
}