:root {
    --main-color :#FF6060;
    --main-font : 'Montserrat', sans serif;
     --main-background-color : #f6f6f6;
 }

 p {
    margin-block : 0rem;
 }

 .Collapse__about {
    margin: 2rem 100px;
  max-width : 1023px;
    flex-basis :50%;
 }

 .Collapse__header {
    background-color: var(--main-color);
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.Collapse__header i {
    font-size : 2rem;
    cursor : pointer;
}

 .Collapse__content {
    padding: 1rem;
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 0.7rem ;
    position : relative;
    top : -0.3rem;
    z-index: -1;
}

.Collapse__content__text {
    padding: 1rem;
    padding-bottom :1rem;
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 0.7rem ;
    position : relative;
    top : -0.3rem;
    z-index: -1;
    min-height: 82.5%;
    line-height: 142%;
  font-size : 23px;
 
}

.Collapse__content li {
    list-style: none;
}

details > summary::after {
    content: "\f078";
    font-family: "font Awesome 5 Free";
    font-weight : 900;
    font-size : 28px;
    cursor : pointer;
}

details[open] > summary::after {
    content: "\f077";
    font-family: "font Awesome 5 Free";
    font-weight : 900;
    font-size : 28px;
    cursor : pointer;
}



/************************  RESPONSIVE ******************************/

@media (max-width: 900px) {
    .description__about { 
         margin : 1rem 1rem;
    }
}