:root {
    --main-color :#FF6060;
    --main-font : 'Montserrat', sans serif;
     --main-background-color : #f6f6f6;
 }

 p {
    margin-block : 0rem;
 }

 .equipment {
    flex-basis :50%;
 }

 
.equipment__header i {
    font-size : 2rem;
    cursor : pointer;
}

 .equipment__content {
    padding: 1rem;
    color: var(--main-color);
    background-color: var(--main-background-color);
    border-radius: 0.7rem ;
    position : relative;
    top : -0.3rem;
    z-index: -1;
    min-height: 12rem;
}

.equipment__content li {
    list-style: none;
}


/************************  RESPONSIVE ******************************/

@media (max-width: 900px) {
    .equipment { 
         margin : 1rem 1rem;
    }
}