:root {
    --color-page : #FF6060;
    --font-page :'Montserrat', sans-serif;
}

.nav__header {
    display : flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-page);
}

.nav__img {
margin-right : auto;
}

#nav__logo{
    margin-right: auto;
    margin-left: 5rem;
    width: 10rem;
    height: 45px;
    padding-left : 0rem;
    object-fit: cover;
}

.nav__link {
    padding: 2rem;
     padding-top: 41px;
     margin-right: 3rem;
    
}

.sign 
{   font-weight: 500;
    color: var(--color-page);
    font-size: 24px ;
    text-decoration: none;
    margin-right : 2rem;
     
}

.sign__up {
    font-weight: 500;
    color:var(--color-page);
    font-size: 24px ;
    text-decoration: none;
    flex-wrap: nowrap;
}

 .sign:hover
{   border-bottom: var(--color-page) solid 1px;}

.sign__up:hover
{   border-bottom: var(--color-page) solid 1px;}

/***************RESPONSIVE-****************************/

@media (max-width: 930px) {

    .nav__link {
        padding: 2rem;
         padding-top: 41px;
         margin-right: 0rem;
         
    }

    #nav__logo{
        margin-right: 2.5rem;
        margin-left: 5rem;
        width: 5rem;
        height: 23px;
        padding-left : 0rem;
        padding-top : 0.3rem;
        object-fit: cover;
    }
    
    .sign 
    {   font-weight: 500;
        color:var(--color-page);
        font-size: 15px ;
        text-transform: uppercase;
        margin-right : 2rem;
       
        
    }
    
    .sign__up {
        font-weight: 500;
        color:var(--color-page);
        font-size: 15px ;
        text-transform: uppercase;
        white-space: nowrap;
     
    }
    
     .sign:hover
    {   border-bottom: var(--color-page) solid 1px;}
    
    .sign__up:hover
    {   border-bottom: var(--color-page) solid 1px;}
     
}

@media (max-width: 360px) {
    #nav__logo{
        margin-right:1.5rem;
        margin-left: 5rem;
        width: 5rem;
        height: 23px;
        padding-left : 0rem;
        padding-top : 0.3rem;
        object-fit: cover;
    }
}


@media (max-width: 280px) {
    #nav__logo{
        margin-right:0rem;
        width: 5rem;
        height: 23px;
        padding-left : 0rem;
        padding-top : 0.3rem;
        object-fit: cover;
    }

    .sign 
    {   font-weight: 500;
        color: var(--color-page);
        font-size: 10px ;
        text-transform: uppercase;
        margin-right : 1rem;
    }
        
        
        .sign__up {
            font-weight: 500;
            color:var(--color-page);
            font-size: 10px;
            text-transform: uppercase;
            white-space: nowrap;
         
        }
  
}

