:root {
    --color-page : #FF6060;
    --font-page :'Montserrat', sans-serif;
}

.header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin : 40px 100px 63px 100px;

}

.nav__header {
    display : flex;
    font-family: var(--font-page);
}

#header__logo{
    max-height: 100%;

}

.nav__link {
    display : flex;  
    padding : 0;
}

.nav__link li {
    list-style-type: none;
}


.sign 
{   font-weight: 500;
    color: var(--color-page);
    font-size: 24px ;
    text-decoration: none;
    margin-right: 57px;
     
}

.sign__up {
    font-weight: 500;
    color:var(--color-page);
    font-size: 24px ;
    text-decoration: none;
}

 .sign:hover
{   border-bottom: var(--color-page) solid 1px;}

.sign__up:hover
{   border-bottom: var(--color-page) solid 1px;}

/***************RESPONSIVE-****************************/

@media (max-width: 792px) {

    .header {
        height: 47px;
        margin-top: 20px;
        margin-left : 20px;
        margin-right : 20px;
        margin-bottom : 16px; 
    }

    .sign 
{  font-size: 12px ;
    margin-right : 10px;
 text-transform : uppercase;
}

.sign__up {
    font-size: 12px;
     text-transform : uppercase;
}
}




