:root {
    --main-color :#FF6060;
    --main-font : 'Montserrat', sans serif;
}

.container {
    display : flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.container__information {
    /* border: 3px solid rgb(0, 255, 13); */
    margin : 0px 100px;
    width : 45%;
}

.container__information h1 {
    /* border: 3px solid rgb(0, 255, 13); */
    margin : 0;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 142.6%;
}

.container__information h3 {
    margin : 0;
    color: var(--main-color);
font-family: var(--main-font);
font-size: 18px;
}

.container__content {
    gap : 10px;
    /* border: 3px solid blue; */
    display:flex;
}

.container__content p {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background: var(--main-color);
    font-family: var(--main-font);
    font-size: 14px;
    color : white;
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top : 2rem;
}


.container__description {
    margin-right : 100px;
}

.container__description__profil {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid blue; */
}


.profil {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background: #C4C4C4;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
}

.container__description__profil p {
    color: var(--main-color);
font-family: var(--main-font);
text-align: right;
font-size: 18px;
font-weight: 500;
line-height: 142.6%;
margin-top : 3.5px;
margin-left: 1.3rem;
}

.container-description__stars {
    font-size: 25px;
    gap : 0.8rem;
    display : flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.container-description__stars .fas {
    color : var(--main-color);
} 

.container-description__stars .grey {
    color : #E3E3E3;
    
}



@media (max-width: 900px) {
 .container {
    justify-content: space-around;
    
 }
  
}

@media (max-width: 900px) {
    .container {
     display : block;

    }

    .container__description {
        display : flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin : 0 1rem;

    }

    .container-description__stars {
       font-size : 13px;
       gap : 0.2rem;

    }

  .container__description__profil {
    margin-right : 0rem;
    gap : 0.3rem;
  }

    .profil {
        width: 41px;
        height: 41px;
    }
    
    .container__description__profil p {
        font-size : 13px;
      }

.container__information {
   width : 75%;
   margin : 0 15px;
}

.container__information h3 {
    font-size: 16px;
    margin-bottom : 0.3rem;
    
}

.container__content p {
 border-radius: 7px;
 width : 96%;
 height: 23px;
 -webkit-border-radius: 7px;
 -moz-border-radius: 7px;
 -ms-border-radius: 7px;
 -o-border-radius: 7px;
 margin-top : 0.5rem;
 text-wrap : nowrap;
}
    .container__information h1 {
       font-size : 0;
    }

    .container::before {
        content : "Paris center, on the romantic Canal Saint Martin";
        color : var(--main-color);
        font-family: var(--main-font);
        display : flex;
        flex-wrap: wrap;
        font-size : 20px;
        font-weight : 500;
        width:100%;
        padding-bottom : 0.5rem;
        margin-left : 1rem;
    }
   }